@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  padding: 0.75rem;
  border-radius: 0.25rem;
  width: 100%;
}

input:last-child {
  margin-bottom: 0;
}

button {
  padding: 0.75rem;
  border-radius: 0.25rem;
}
