<button class="bg-slate-700 text-white px-7" id="add-to-favorites">
  {% if is_favorite %} Remove from favorites {% else %} Add to favorites
  <!-- -->{% endif %}
</button>
<script>
  const updateButtonHtml = (isFavorite) => {
    if (isFavorite) {
      button.innerHTML = "Remove from favorites";
    } else {
      button.innerHTML = "Add to favorites";
    }
  };

  const button = document.getElementById("add-to-favorites");
  const isFavorite = "{{ is_favorite }}" === "True";

  updateButtonHtml(isFavorite);

  const eventListener = async (event) => {
    const response = await fetch(`/toggle-favorite`, {
      method: "POST",
      body: JSON.stringify({
        film_id: "{{film_id}}",
      }),
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}",
      },
    });

    const data = await response.json();
    const isFavorite = data.payload.is_favorite;

    updateButtonHtml(isFavorite);
  };

  button.addEventListener("click", eventListener);
</script>
